{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>Trainees List</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore rem numquam placeat animi quibusdam est voluptatem sunt, illo eum? Consequuntur, soluta eligendi impedit saepe natus adipisci culpa quam at vitae!</p>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Action</th>
    </tr>
    {% for trainee in trainees %}
    <tr>
        <td>{{ trainee.0 }}</td>
        <td>{{ trainee.1 }}</td>
        <td>
            <a href="{% url 'updatetrainee' trainee.0 %}">Update</a>
            <a href="{% url 'deletetrainee' trainee.0 %}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>

<!-- <script src="{% static 'js/main.js' %}"></script> -->
{% endblock %}